global
    maxconn 10000
    tune.bufsize 16384

defaults
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend stats
    mode http
    bind :8404
    stats enable
    stats uri /stats
    stats refresh 5s

frontend fraud_balancer
    bind :9999
    default_backend api_servers

backend api_servers
    mode tcp
    balance roundrobin
    option tcp-check
    server api1 api1:8080 check inter 2s fall 3 rise 2
    server api2 api2:8080 check inter 2s fall 3 rise 2
